* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
    outline: none;
}
.header {
    /*хэдэр начало*/
    height: 75px;
    background-color: #222222;
}
.header__flex {
    display: flex;
    justify-content: space-between;
    height: 75px;
}
.header__left {
    display: flex;
    align-items: center;
}
.logo {
    display: block;
    padding: 18px 20px 15px;
}

.search {
    padding: 28px 20px 20px;
}

.header__form {
    display: none;
    align-items: center;
}

.header__input {
    padding: 8px;
    border: 1px solid #ff6a6a;
}
.header__button {
    margin-left: 25px;
    padding: 5px 30px;
    border: 1px solid #ff6a6a;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
}
.search__box {
    display: flex;
    align-items: center;
}
.search__box:hover .header__form {
    display: flex;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu {
    display: block;
    padding: 30px 17px 22px;
}
.menu__megabox {
    position: relative;
    display: flex;
    flex-direction: column;
}
.menu__box {
    background-color: #ffffff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 34px;
    position: absolute;
    top: 65px;
    left: 15px;
    display: none;
    flex-direction: column;
}
.menu__title {
    font-family: Lato;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 4px;
}

.menu__heading {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    width: 158px;
    padding-top: 20px;
    padding-bottom: 1px;
}
.menu__link {
    display: block;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    text-decoration: none;
    padding-top: 11px;
    padding-left: 20px;
}

.menu__megabox:hover .menu__box {
    display: flex;
}

.login {
    display: block;
    padding: 26px 16px 20px;
}
.cart {
    display: block;
    padding: 26px 16px 20px;
} /*хэдер конец*/

.banner {
    /*банер начало*/
    max-height: 764px;
    background-color: #f1e4e6;
    margin-bottom: 65px;
    display: flex;
}
.banner__left {
    width: 50%;
}
.banner__right {
    margin-left: 63px;
    margin-top: 290px;
    display: flex;
}
.banner__img {
    height: 92px;
    width: 12px;
    background: #f16d7f;
    margin-right: 16px;
}
.banner__slogan {
    display: flex;
}
.slogan__txt-top {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}
.slogan__txt-bottom {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.pink__text {
    /*банер конец*/
    color: #f16d7f;
}

.offer__box {
    /*оффер начало*/
    display: flex;
    flex-wrap: wrap;
}
.offer__item-1 {
    display: block;
    width: 360px;
    height: 260px;
    background-image: url(img/nav-1.jpg);
    text-decoration: none;
    margin-right: 30px;
}
.offer__item-2 {
    display: block;
    width: 360px;
    height: 260px;
    background-image: url(img/nav-2.jpg);
    text-decoration: none;
    margin-right: 30px;
}
.offer__item-3 {
    display: block;
    width: 360px;
    height: 260px;
    background-image: url(img/nav-3.jpg);
    text-decoration: none;
}
.offer__item-4 {
    display: block;
    width: 1140px;
    height: 180px;
    background-image: url(img/nav-4.jpg);
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 96px;
}
.offer__desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.offer__txt {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
}
.offer__title {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}
/*секция продуктов*/

.prod__heading {
    font-family: Lato;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
    width: 100%;
    text-align: center;
}
.prod__desc {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    margin-bottom: 48px;
    width: 100%;
    text-align: center;
}
.prod__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.prod__item {
    width: 360px;
    position: relative;
    margin-bottom: 30px;
}
.prod__item__link {
    display: block;
    text-decoration: none;
}
.prod__item__img {
    width: 100%;
}
.prod__txt__box {
    background: #f8f8f8;
    padding: 15px;
}
.prod__item__title {
    font-family: Lato;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.prod__item__desc {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    margin-bottom: 18px;
}
.prod__item__price {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}
.prod__item:hover .prod__item__img {
    filter: brightness(30%);
}
.prod__item:hover .add__box {
    display: flex;
}

.add__box {
    position: absolute;
    top: 180px;
    display: none;
    justify-content: center;
    width: 100%;
}
.add {
    display: flex;
    align-items: center;
    padding: 13px;
    border: 1px solid #ffffff;
    text-decoration: none;
}
.add__txt {
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 11px;
}
.add:hover {
    box-shadow: 0 0 10px #ffffff;
}
.product__button {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}
.prod__button {
    align-items: center;
    padding: 14px 38px;
    background-color: #ffffff;
    border: 1px solid #ff6a6a;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    margin-top: 48px;
    text-align: center;
}
.prod__button:hover {
    background-color: #ff6a6a;
    color: #ffffff;
} /*конец секции product*/
.footer {
    background-color: #222224;
}
.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 341px;
    background-color: #222224;
}
.footer__item__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 360px;
    color: #fbfbfb;
    padding: 100px 10px;
}
.footer__txt__box {
    padding: 15px;
    align-items: center;
}
.footer__item__title {
    font-family: Lato;
    font-size: 19.96px;
    line-height: 24px;
    color: #fbfbfb;
    margin-top: 28px;
    margin-bottom: 16px;
    text-align: center;
}
.footer__item__desc {
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fbfbfb;
}
.footer__bottom {
    height: 448px;
    background: rgba(244, 244, 244, 0.7);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url(img/bg-footer.png);
    opacity: 1;
}
.footer__flex {
    display: flex;
    justify-content: space-between;
}
.footer__bottom__left {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 86px 60px;
}
.face {
    margin-bottom: 25px;
}
.footer__quote {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.italic__text {
    font-style: italic;
}
.footer__bottom__right {
    padding: 150px 10px;
}
.footer__form__heading {
    font-family: Lato;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
}
.footer__form__txt {
    font-family: Lato;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}
.footer__form {
    display: flex;
}
.footer__input {
    background: #e1e1e1;
    padding: 7px 64px 6px 22px;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
    border-radius: 12px 0 0 12px;
    border: transparent;
}
.footer__button {
    background: #f16d7f;
    padding: 7px 7px 6px 8px;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 0 12px 12px 0;
    border: transparent;
}
.footer__end {
    background: #222224;
    height: 79px;
}
.copyright {
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    margin-top: 30px;
}
.social__network {
    display: flex;
}
.icon__social__network {
    display: block;
    padding: 10px 10px 12px 12px;
    height: 20px;
    width: 20px;
    background: #ffffff;
    margin-top: 24px;
    margin-right: 7px;
}
.icon__social__network:last-of-type {
    margin-right: 0;
}
